Temp/
Library/
Builds/
VSCode/
obj/
*.sln
*.vscode
*.vs
*/*.VSCode
*.csproj
*.sln
*.sublime-workspace
*.sublime-project
*.DS_Store
*/*.DS_Store
*.userprefs
*/UnityPackageManager/
*.apk
Assets/Plugins/Android/gpgs-plugin-support-0.9.42/
Server/ShiftServer/packages/
Server/ShiftServer/ShiftServer.Proto/bin/
Server/ShiftServer/ShiftServer.Socket/bin/
Server/ShiftServer/ShiftServer.SocketTest/bin/
Server/ShiftServer/ShiftServer.SocketClient/bin/Debug/
Server/ShiftServer/ShiftServer.SocketClient/bin/Release/
/Server/ShiftServer/ShiftServer.AuthServer/manaconfig.py
